.imagen1{
    display: flex;
    text-align: center;
    margin: auto;
    height: 200px;
    width: 150px;
    padding: 10px;
}

body{
    background-color: aquamarine;
    margin: auto;
}

.tabs{
    display: inline;
    text-align: center;
    color: chocolate;
    border: 3px solid blueviolet;
    padding: 10px;
    margin-left: 30%;
    margin-right: 30%;
    width: 30%;
    font-family: cursive;
    font-size: large;
}

#seccion1{
width: 500px;
height: 40px;
margin-left: 20px;
padding: 20px ;
border: 1px solid blueviolet;
color: blueviolet;
font-size: large;
font-family: cursive;
}

#seccion2{
width: 500px;
height: 40px;
margin-left: 20px;
padding: 20px ;
border: 1px solid blueviolet;
color: blueviolet;
font-size: large;
font-family: cursive;
}



#seccion3{
width: 500px;
height: 40px;
margin-left: 20px;
padding: 20px ;
border: 1px solid blueviolet;
color: blueviolet;
font-size: large;
font-family: cursive;
}





p{
    font-size: large;
    font-weight: bold;
}

.contenedor{
    display: flex;
    justify-content: space-around;
}

.item{
    background-color: brown;
}

